
.TTSPanel {
  position: relative;
  padding: 0 0 calc(2.5em + 2px) 0 !important;

  textarea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5em;
    height: 100%;
    resize: none;
    border: none;
  }

  .panelButtons {
    width: 100%;

    > .button {
      flex: 0;
    }

    > .dropdown {
      flex: 1 1;
      font-size: 1rem;
    }
  }
}

.TTSSamplesPopup {
  padding: 0 !important;

  ul {
    max-height: 400px;
    overflow: hidden auto;
    padding: 0.75em 1em 0.75em 2em;
    margin: 0;
  }
}

.rta__autocomplete--top {
  margin-top: 1em !important;
  margin-bottom: unset !important;
}
