
.ErrorPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1em 1em 0;
  background-color: #EDE6D5;

  & > * {
    margin: 0 0 1em !important;
  }

  & > .wrapper {
    position: relative;
    flex: 1;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: initial;
    overflow-x: hidden;
    overflow-y: auto;

    .error {
      display: flex;
      align-items: baseline;
      font-weight: bold;

      .code {
        flex: 1;
        text-align: right;
        font-size: 12em;
        padding-right: 1rem;
        color: rgba(0, 0, 0, 0.25);
      }

      .type {
        flex: 1;
        font-size: 4em;
        color: rgba(0, 0, 0, 0.5);
      }
    }

    .description {
      display: inline-block;
      align-self: center;

      .message {
        font-size: 2em;
        padding-bottom: 0.5rem;
      }

      .stack {
        white-space: pre-wrap;
        font-family: Consolas, 'Lucida Console', Monaco, monospace;
      }
    }
  }
}