
.IndexPage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 1em 1em 0;
  background-color: #EDE6D5;

  & > * {
    margin: 0 0 1em !important;
  }

  & > .Panels {
    flex: 1;
    overflow: hidden;
  }

  @media only screen and (orientation: landscape) {
    &.mobile .Logo .image {
      max-width: 300px;
    }
  }
}
